<!DOCTYPE html>

<html>
  <head>
    <title>Eric Abenojar</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/aos.css"> -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">



  </head>

<body>
<nav class="navbar navbar-expand-lg navbar-light" id="index-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="container d-flex justify-content-center">
    <div class="d-flex justify-content-center" >
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" id="models" href="/models" >MODEL S <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="modelx" href="/modelx">MODEL X</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"id="model3" href="/model3">MODEL 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="roadster" href="/roadster">ROADSTER</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</nav>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- <script type="text/javascript" href="/js/aos.js"></script> -->
    <script type="text/javascript">
    // AOS.init();
    </script>
</body>

<div class="container-fluid">
  <!-- <div class="index_page">
    <div class="videos_index"> -->
    <div class="row">
      <video id="myVideo" src="https://www.tesla.com/ns_videos/homepage-video-summer-2017.mp4?20170808"  autoplay poster="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJGowZ6TD8s7dr9Y0zr1YL3wgMKIpb1y8bvsrxz-r1v4Tdu2N36g">
      Sorry, your browser doesn't support embedded videos,
      but don't worry, you can <a href="videofile.webm">download it</a>
      and watch it with your favorite video player!
      </video>
      <!-- <video id="myVideo" class="primary-video" autoplay loop width="1150px" height="325px">
        <source
            data-src="https://www.tesla.com/ns_videos/homepage-video-summer-2017.mp4?20170808"
            media="(min-width: 640px)">
        <source
            data-src="https://www.tesla.com/ns_videos/homepage-video-summer-2017.m4v?20170808"
            media="(min-width: 640px)">
        <source
            data-src="https://www.tesla.com/ns_videos/homepage-video-summer-2017.ogv?20170808"
            media="(min-width: 640px)">
        <source
            data-src="https://www.tesla.com/ns_videos/homepage-video-summer-2017.webm?20170808"
            media="(min-width: 640px)">
    </video> -->
      <div class="content">
        <h1 class="content-description">Quickest Accelaration</h1>
        <h1 class="content-description">Longest Range. The Safest Cars Ever</h1>
        <div class="button-content">
          <button class="index_button" type="button">ORDER YOURS</button>
          <button class="index_button" type="button">NEW INVENTORY</button>
          <button class="index_button" type="button">USED INVENTORY</button>
          <button class="index_button" type="button">TEST DRIVE</button>
        </div>
      </div>
    </div>

    <!-- </div>
  </div> -->

</div>
