<% include partial/header %>
<div class="container-fluid">
  <div class="main">
    <div class="main__image__models">

    </div>
  </div>
  <div class="information">
    <section class="information__intro">
      <div class="information__container">
        <h1 class="section--title">Model S</h1>
        <p class="section--description">
          Designed to attain the highest safety ratings in every category, Model 3 achieves 220 miles of range while
          starting at only $35,000 before incentives.
        </p>
        <div class="btn__group">
          <a href="#" class="btn--primary">RESERVE YOURS</a>
          <a href="#" class="btn--secondary">GET NEWSLETTER</a>
        </div>
      </div>
    </section>
  </div>
</div>
