<% include partial/header %>
<div class="container-fluid">
  <div class="main">
    <div class="main__image__model3">

    </div>
  </div>
  <div class="information">
    <section class="information__intro">
      <div class="information__container">
        <h1 class="section--title">Model 3</h1>
        <p class="section--description">
          Designed to attain the highest safety ratings in every category, Model 3 achieves 220 miles of range while
          starting at only $35,000 before incentives.
        </p>
        <div class="btn__group">
          <a href="#" class="btn--primary" id="model3_reserve_button">RESERVE YOURS</a>
          <a href="#" class="btn--secondary">GET NEWSLETTER</a>
        </div>
        <p class="section--description">
          Reserve your Model 3 today for delivery in 12 to 18 months.
        </p>
      </div>
    </section>
    <section class="information__reservation">
      <div class="information__container">
        <h1 class="section--title">Reservation Holder Update</h1>
        <p class="section--description">
          Model 3 deliveries are beginning in the US based on whether you are an employee, if you own a Tesla and when you placed your reservation.
           Reservation holders will receive an email when it’s time to place their order.
        </p>
        <div class="btn__group">
          <a href="#" class="btn--primary" id="btn--reservation">RESERVE YOURS</a>
        </div>
      </div>
    </section>
  </div>
  <div class="timeline">
    <div class="timeline__title">
        <div class="row">
          <h1 class="section--title">Production Timeline</h1>
        </div>
    </div>
    <div class="timeline__details">
      <div class="row no-gutters">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="timeline__sub__containers">
            <h3 class="timeline--description">2017</h3>
            <p class="timeline--description">Prduction begins in the US, with the Long Range Battery</p>
            <p class="timeline--description">Customer deliveries begin</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="timeline__sub__containers" id="middle__sub__container">
            <h3 class="timeline--description">2018</h3>
            <p class="timeline--description">All-Wheel Drive production begins</p>
            <p class="timeline--description">Production of the Standard Battery begins</p>
            <p class="timeline--description">International delieveries of left-hand drive vehicles begin this year</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="timeline__sub__containers">
            <h3 class="timeline--description">2019</h3>
            <p class="timeline--description">Production of right-hand drive vehicles begins</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Lateset news component -->
  <div class="model3_signup_container">
    <div class="row">
      <div class="signup_title col-lg-12 col-md-12 col-sm-12">
        <h4 class="signup_description">Be the first to receive the latest Tesla news, events and products</h4>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <form class="example">
          <input type="text" placeholder="example@email.com" name="search">
          <button type="submit"><i class="fa fa-search"></i>SIGN UP</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Model S vs Model 3 Comparison -->
  <div class="model3_modelS_container">
    <div class="row">
      <div class="model3_modelS_images">
        <img src="https://www.cstatic-images.com/car-pictures/xl/usc30tsc021b021003.png" alt="Mountain View">
        <img src="https://www.tesla.com/tesla_theme/assets/img/model3/model_3--side_profile.png?20170801" alt="Mountain View">
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</div>
