<% include partial/header %>
<div class="container-fluid">
  <div class="main">
    <div class="main__image__models">
      <div class="main_image_top_text">
        <h1 class="modelS_main_image_top_title">Model S</h1>
        <h2 class="modelS_main_image_top_subtitle">The Best Car</h2>
      </div>
      <div class="main_image_bottom_text">
        <div class="main_image_bottom_top">
          <p class="bottom_sub_container_description">Model S, is the safest and quickest car on the road -with industry leading performance, range, and storage</p>
        </div>
        <div class="main_image_bottom_bottom">
          <div class="row">
            <div class="main_image_bottom_sub_container col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <h1 class="bottom_sub_container_title">2.5 s</h1>
              <p class="bottom_sub_container_description">From 0-60 mph</p>
            </div>
            <div class="main_image_bottom_sub_container col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <h1 class="bottom_sub_container_title">5 Star</h1>
              <p class="bottom_sub_container_description">Rating</p>
            </div>
            <div class="main_image_bottom_sub_container col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <h1 class="bottom_sub_container_title">335mi</h1>
              <p class="bottom_sub_container_description">Range</p>
            </div>
            <div class="main_image_bottom_sub_container col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <h1 class="bottom_sub_container_title">Order</h1>
              <p class="bottom_sub_container_description">Now</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modelS_safety_container">
    <div class="row">
      <div class="modelS_left_container col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="">

        </div>
      </div>
      <div class="modelS_right_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="model_right_sub_container">
          <div class="">
            <h6 class="modelS_safety_title">Safety</h6>
            <h1 class="modelS_safety_sub_title">The Safest Car</h1>
            <p class="modelS_safety_description">Model S achieved the highest safety rating of any car ever tested, and set a record for the lowest probability of occupant injury- from front, side, rear, and rollover accidents.</p>
          </div>
          <div class="modelS_safety_rating">
            <h3>5 Star Overall Rating</h3>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>Front</h4>
              </div>
              <div class="modelS_safety_stars">
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>Side (MDB)</h4>
              </div>
              <div class="modelS_safety_stars">
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>Side Pole</h4>
              </div>

              <div class="modelS_safety_stars">
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>Driver</h4>
              </div>

              <div class="modelS_safety_stars">
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>Side (Overall)</h4>
              </div>
              <div class="modelS_safety_stars">
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
              </div>
            </div>
          </div>
          <div class="modelS_safety_learn_more">
            <button class="modelS_safety_button" type="button" name="button">LEARN MORE</button>
            <button class="modelS_safety_button" type="button" name="button">ORDER NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  PERFORMACE COMPONENT-->
  <div class="modelS_performance_container">
      <div class="modelS_performance_top_container">
        <div class="modelS_performance_top_specs">
          <div class="modelS_performance_top_specs_descriptions">
            <h2 class="modelS_top_cotainer_text">AWD</h2>
            <p class="modelS_top_container_description">Standard All-Wheel Drive</p>
          </div>
          <div class="modelS_performance_top_specs_descriptions">
            <h2 class="modelS_top_cotainer_text">2.5 s</h2>
            <p class="modelS_top_container_description">0-60 mph in 2.5s</p>
          </div>
          <div class="modelS_performance_top_specs_descriptions">
            <h2 class="modelS_top_cotainer_text">
              <span class="oi oi-star"></span>
              <span class="oi oi-star"></span>
              <span class="oi oi-star"></span>
              <span class="oi oi-star"></span>
              <span class="oi oi-star"></span>
            </h2>
            <p class="modelS_top_container_description">Safest Car Ever</p>
          </div>
        </div>
      </div>
      <div class="modelS_performance_bottom_container">
        <div class="modelS_performance_bottom_specs">
          <h4 class="modelS_performance_title">Performance</h4>
          <h1 class="modelS_performance_sub_title">Quickest Acceleration</h1>
          <p class="modelS_performance_description">Model S sets an industry standard for performance and safety. Tesla's all electric powertrain delivers unparalleled performance in all weather conditions - with dual motor All-Wheel
            , ludicrous acceleration and the highest safety rating of any car ever tested.
          </p>
            <button class="learn_button" type="button" name="button">LEARN MORE</button>
            <button class="learn_button" type="button" name="button">ORDER NOW</button>
        </div>
      </div>
  </div>

<!--  RANGE COMPONENT -->
  <div class="modelS_range_container">
    <div class="row">
      <div class="modelS_range_left_container col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <div class="modelS_range_left_specs">
        </div>
      </div>
      <div class="modelS_right_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="model_right_sub_container">
          <div class="">
            <h6 class="modelS_safety_title">Safety</h6>
            <h1 class="modelS_safety_sub_title">The Safest Car</h1>
            <p class="modelS_safety_description">Model S achieved the highest safety rating of any car ever tested, and set a record for the lowest probability of occupant injury- from front, side, rear, and rollover accidents.</p>
          </div>
          <div class="modelS_safety_rating">
            <h3>5 Star Overall Rating</h3>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>Front</h4>
              </div>
              <div class="modelS_safety_stars">
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>Side (MDB)</h4>
              </div>
              <div class="modelS_safety_stars">
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>Side Pole</h4>
              </div>

              <div class="modelS_safety_stars">
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>Driver</h4>
              </div>

              <div class="modelS_safety_stars">
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>Side (Overall)</h4>
              </div>
              <div class="modelS_safety_stars">
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
              </div>
            </div>
          </div>
          <div class="modelS_safety_learn_more">
            <button class="modelS_safety_button" type="button" name="button">LEARN MORE</button>
            <button class="modelS_safety_button" type="button" name="button">ORDER NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modelS_interior_container">
    <div class="modelS_interior_top_container">
      <div class="modelS_performance_top_specs">
        <div class="modelS_performance_top_specs_descriptions">
          <h2 class="modelS_top_cotainer_text">AWD</h2>
          <p class="modelS_top_container_description">Standard All-Wheel Drive</p>
        </div>
        <div class="modelS_performance_top_specs_descriptions">
          <h2 class="modelS_top_cotainer_text">2.5 s</h2>
          <p class="modelS_top_container_description">0-60 mph in 2.5s</p>
        </div>
        <div class="modelS_performance_top_specs_descriptions">
          <h2 class="modelS_top_cotainer_text">
            <span class="oi oi-star"></span>
            <span class="oi oi-star"></span>
            <span class="oi oi-star"></span>
            <span class="oi oi-star"></span>
            <span class="oi oi-star"></span>
          </h2>
          <p class="modelS_top_container_description">Safest Car Ever</p>
        </div>
      </div>
    </div>
    <div class="modelS_performance_bottom_container">
      <div class="modelS_performance_bottom_specs">
        <h4 class="modelS_performance_title">Interior</h4>
        <h1 class="modelS_performance_sub_title">Built Around the Driver</h1>
        <p class="modelS_performance_description">Model S is built with best in class storage, seating for up to five adults and two children and an expansive 17-inch touchscreen. Advanced noise engineering creates sound dynamics comparable to a recording studio,
          while the standard Glass Roof provides a spacious interior experience for every passenger.
        </p>
          <button class="learn_button" type="button" name="button">LEARN MORE</button>
          <button class="learn_button" type="button" name="button">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="modelS_exterior_container">
    <div class="modelS_exterior_top_container">
      <div class="modelS_performance_top_specs">
        <div class="modelS_performance_top_specs_descriptions">
          <h2 class="modelS_top_cotainer_text">AWD</h2>
          <p class="modelS_top_container_description">Standard All-Wheel Drive</p>
        </div>
        <div class="modelS_performance_top_specs_descriptions">
          <h2 class="modelS_top_cotainer_text">2.5 s</h2>
          <p class="modelS_top_container_description">0-60 mph in 2.5s</p>
        </div>
        <div class="modelS_performance_top_specs_descriptions">
          <h2 class="modelS_top_cotainer_text">
            <span class="oi oi-star"></span>
            <span class="oi oi-star"></span>
            <span class="oi oi-star"></span>
            <span class="oi oi-star"></span>
            <span class="oi oi-star"></span>
          </h2>
          <p class="modelS_top_container_description">Safest Car Ever</p>
        </div>
      </div>
    </div>
    <div class="modelS_performance_bottom_container">
      <div class="modelS_performance_bottom_specs">
        <h4 class="modelS_performance_title">Exterior</h4>
        <h1 class="modelS_performance_sub_title">Design for Efficiency</h1>
        <p class="modelS_performance_description">Model S was designed for speed and endurance—with i
          ncredible aerodynamics, ludicrous performance and uncompromised aesthetics. Automatic door handles auto-present upon approach and withdraw when closed.
        </p>
          <button class="learn_button" type="button" name="button">LEARN MORE</button>
          <button class="learn_button" type="button" name="button">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="modelS_specs_container">

  </div>
</div>
<% include partial/footer %>
