<% include partial/header %>
<div class="container-fluid">
  <div class="main">
    <div class="main__image__models">
      <div class="main_image_top_text">
        <p>MODEL S</p>
        <h2>The Best Car</h2>
      </div>
      <div class="main_image_bottom_text">
        <div class="main_image_bottom_top">
          <p>Model S, is the safest and quickest car on the road -with industry leading performance, range, and storage</p>
        </div>
        <div class="main_image_bottom_bottom">
          <div class="main_image_bottom_sub_container">
            <h1 class="bottom_sub_container_title">Test</h1>
            <p class="bottom_sub_container_description">This is a test</p>
          </div>
          <div class="main_image_bottom_sub_container">
            <h1 class="bottom_sub_container_title">Test</h1>
            <p class="bottom_sub_container_description">This is a test</p>
          </div>
          <div class="main_image_bottom_sub_container">
            <h1 class="bottom_sub_container_title">Test</h1>
            <p class="bottom_sub_container_description">This is a test</p>
          </div>
          <div class="main_image_bottom_sub_container">
            <h1 class="bottom_sub_container_title">Test</h1>
            <p class="bottom_sub_container_description">This is a test</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="information">
    <section class="information__intro">
      <div class="information__container">
        <h1 class="section--title">Model S</h1>
        <p class="section--description">
          Designed to attain the highest safety ratings in every category, Model 3 achieves 220 miles of range while
          starting at only $35,000 before incentives.
        </p>
        <div class="btn__group">
          <a href="#" class="btn--primary">RESERVE YOURS</a>
          <a href="#" class="btn--secondary">GET NEWSLETTER</a>
        </div>
      </div>
    </section>
  </div>
</div>
<% include partial/footer %>
