<% include partial/header %>
<div class="container-fluid">
  <div class="main">
    <div class="main__image__model3">

    </div>
  </div>
  <div class="information">
    <section class="information__intro">
      <div class="information__container">
        <h1 class="section--title">Model 3</h1>
        <p class="section--description">
          Designed to attain the highest safety ratings in every category, Model 3 achieves 220 miles of range while
          starting at only $35,000 before incentives.
        </p>
        <div class="btn__group">
          <a href="#" class="btn--primary">RESERVE YOURS</a>
          <a href="#" class="btn--secondary">GET NEWSLETTER</a>
        </div>
        <p class="section--description">
          Reserve your Model 3 today for delivery in 12 to 18 months.
        </p>
      </div>
    </section>
    <section class="information__reservation">
      <div class="information__container">
        <h1 class="section--title">Reservation Holder Update</h1>
        <p class="section--description">
          Model 3 deliveries are beginning in the US based on whether you are an employee, if you own a Tesla and when you placed your reservation.
           Reservation holders will receive an email when it’s time to place their order.
        </p>
        <div class="btn__group">
          <a href="#" class="btn--primary" id="btn--reservation">RESERVE YOURS</a>
        </div>
        <p class="section--description">
          Reserve your Model 3 today for delivery in 12 to 18 months.
        </p>
      </div>
    </section>
  </div>
  <div class="timeline">
    <div class="timeline__title">
      <h1 class="section--title">Production Timeline</h1>
    </div>
    <div class="timeline__details">
      <div class="row no-gutters">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="timeline__sub__containers">
            <h3 class="timeline--description">2017</h3>
            <p class="timeline--description">Prduction begins in 2017</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="timeline__sub__containers">
            <h3 class="timeline--description">2017</h3>
            <p class="timeline--description">Prduction begins in 2017</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="timeline__sub__containers">
            <h3 class="timeline--description">2017</h3>
            <p class="timeline--description">Prduction begins in 2017</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
