<% include partial/header %>
<div class="container-fluid">
  <div class="main">
    <div class="main__image__model3">
        <div class="main_image_top_text">
          <h1 class="modelS_main_image_top_title">Model 3</h1>
          <h2 class="modelS_main_image_top_subtitle">The Car For Everyone</h2>
        </div>
        <div class="main_image_bottom_text">
          <div class="main_image_bottom_top">
          </div>
          <div class="main_image_bottom_bottom">
            <div class="row">
              <div class="main_image_bottom_sub_container col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h1 class="bottom_sub_container_title_model3">2.5 s</h1>
                <p class="bottom_sub_container_description_model3">From 0-60 mph</p>
              </div>
              <div class="main_image_bottom_sub_container col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h1 class="bottom_sub_container_title_model3">
                  <span class="oi oi-star"></span>
                  <span class="oi oi-star"></span>
                  <span class="oi oi-star"></span>
                  <span class="oi oi-star"></span>
                  <span class="oi oi-star"></span>
                </h1>
                <p class="bottom_sub_container_description_model3">Rating</p>
              </div>
              <div class="main_image_bottom_sub_container col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h1 class="bottom_sub_container_title_model3">335mi</h1>
                <p class="bottom_sub_container_description_model3">Mile Range</p>
              </div>
              <div class="main_image_bottom_sub_container col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <h1 class="bottom_sub_container_title_model3">Order</h1>
                <p class="bottom_sub_container_description_model3">Now</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="information">
    <section class="information__intro">
      <div class="information__container">
        <h1 class="section--title">Model 3</h1>
        <p class="section--description">
          Designed to attain the highest safety ratings in every category, Model 3 achieves 220 miles of range while
          starting at only $35,000 before incentives.
        </p>
        <div class="btn__group_container">
          <div class="row">
            <div class="buttom_grid col-lg-6 col-md-6">
              <div class="btn__group">
                <a href="#" class="btn btn-primary" id="model3_reserve_button">RESERVE YOURS</a>
              </div>
            </div>
            <div class="buttom_grid col-lg-6 col-md-6">
              <div class="btn__group">
                <a href="#" class="btn btn-dark" id="model3_get_button">GET NEWSLETTER</a>
              </div>
            </div>
          </div>
        </div>
        <p class="section--description">
          Reserve your Model 3 today for delivery in 12 to 18 months.
        </p>
      </div>
    </section>
    <section class="information__reservation">
      <div class="information__container">
        <h1 class="section--title">Reservation Holder Update</h1>
        <p class="section--description">
          Model 3 deliveries are beginning in the US based on whether you are an employee, if you own a Tesla and when you placed your reservation.
           Reservation holders will receive an email when it’s time to place their order.
        </p>
        <div class="btn__group">
          <a href="#" class="btn--primary" id="btn--reservation">RESERVE YOURS</a>
        </div>
      </div>
    </section>
  </div>

  <div class="timeline">
    <div class="row">
        <div class="timeline__title">
          <h1 class="section--title">Production Timeline</h1>
        </div>
    </div>
    <div class="row no-gutters">

        <div class="col-lg-4 col-md-4 col-sm-12  col-xs-12">
          <div class="timeline__sub__containers">
            <h3 class="timeline--description">2017</h3>
            <p class="timeline--description">Prduction begins in the US, with the Long Range Battery</p>
            <p class="timeline--description">Customer deliveries begin</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12  col-xs-12">
          <div class="timeline__sub__containers" id="middle__sub__container">
            <h3 class="timeline--description">2018</h3>
            <p class="timeline--description">All-Wheel Drive production begins</p>
            <p class="timeline--description">Production of the Standard Battery begins</p>
            <p class="timeline--description">International delieveries of left-hand drive vehicles begin this year</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12  col-xs-12">
          <div class="timeline__sub__containers">
            <h3 class="timeline--description">2019</h3>
            <p class="timeline--description">Production of right-hand drive vehicles begins</p>
          </div>
        </div>
    </div>
  </div>
  <!-- Lateset news component -->
  <div class="model3_signup_container">
    <div class="row">
      <div class="signup_title col-lg-12 col-md-12 col-sm-12">
        <h4 class="signup_description">Be the first to receive the latest Tesla news, events and products</h4>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <form class="example">
          <input type="text" placeholder="example@email.com" name="search">
          <button type="submit"><i class="fa fa-search"></i>SIGN UP</button>
        </form>
      </div>
    </div>
  </div>
  <!-- Model S vs Model 3 Comparison -->
  <div class="row">
    <div class="model3_spec_safety col-lg-8 col-md-12 col-sm-12">
      <div class="row">
        <div class="model3_spec_title col-lg-12 col-md-12 col-sm-12">
          <h1>Model 3 Specs</h1>
        </div>
        <div class="model3_spec_safety_descriptions col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <div class="model3_spec_safety_images col-lg-6 col-md-12 col-sm-12">
              <img id="model3_spec_safety_image" src="http://www.xautoworld.com/wp-content/uploads/2017/05/tesla-model-3-exterior-dimensions-figure.jpg" alt="Model 3">
            </div>
            <div class="model3_spec_safety_information col-lg-6 col-md-12 col-sm-12">
              <div class="model3_spec_safety_information_subcontainer">
                <h4 class="safety_spec_title">Safety</h4>
                <p class="safety_spec_description">Automatic emergency braking and collision avoidance</p>
                <p class="safety_spec_description">Eight airbags</p>
                <p class="safety_spec_description">Electronic stability and traction control</p>
                <h4 class="safety_spec_title">Convenience</h4>
                <p class="safety_spec_description">15" touchscreen with onboard maps and navigation</p>
                <p class="safety_spec_description">Wi-Fi and LTE internet connectivity</p>
                <p class="safety_spec_description">Keyless entry and remote climate control with app</p>
                <p class="safety_spec_description">Voice activated controls</p>
                <p class="safety_spec_description">60/40 split folding rear seats</p>
                <h4 class="safety_spec_title">Standard Interior</h4>
                <p class="safety_spec_description">15" touchscreen display</p>
                <p class="safety_spec_description">Dual zone climate control system</p>
                <p class="safety_spec_description">FM/Internet streaming radio</p>
                <p class="safety_spec_description">Textile seating</p>
                <p class="safety_spec_description">Center console with open storage and two USB ports</p>
                <h4 class="safety_spec_title">Premium Upgrades</h4>
                <p class="safety_spec_description">Premium heated seating and cabin materials throughout, including open pore wood decor and two rear USBs</p>
                <p class="safety_spec_description">12-way, power adjustable front seats, steering column and side mirros, with custom driver profiles</p>
                <p class="safety_spec_description">Tinted glass roof with ultraviolet and infrared protection</p>
                <p class="safety_spec_description">Auto dimming, power folding, headted side mirrors</p>
                <p class="safety_spec_description">LED fog lamps</p>
                <p class="safety_spec_description">Center console with covered storage and docking for two smartphones</p>
                <h4 class="safety_spec_title">Warranty</h4>
                <p class="safety_spec_description">4 year, 50,000 mile limited vehicle warranty</p>
                <p class="safety_spec_description">8 year, 100,000 mile battery warranty (Standard)</p>
                <p class="safety_spec_description">8 year, 120,000 mile battery warranty (Long Range)</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="model3_spec_container col-lg-4 col-md-12 col-sm-12">
      <div class="row">
        <div class="model3_modelS_images">
          <img id="model3_spec_image" src="https://www.tesla.com/tesla_theme/assets/img/model3/model_3--side_profile.png?20170801" alt="Model 3">
        </div>
      </div>
      <div class="row spec_description_container">
        <div class="delivery_time">
          <h4 class="spec_heading">Delivery Time</h4>
          <h2 class="spec_description">12-18 months</h2>
        </div>
        <div class="performance">
          <h4 class="spec_heading">Performance</h4>
          <h2 class="spec_description">5.1 - 5.6 sec 0-60 mph</h2>
        </div>
        <div class="range">
          <h4 class="spec_heading">Range</h4>
          <h2 class="spec_description">220 - 310 Miles Range</h2>
        </div>
        <div class="supercharging">
          <h4 class="spec_heading">Supercharging</h4>
          <h2 class="spec_description">Pay Per Use Supercharging</h2>
        </div>
        <div class="passenger">
          <h4 class="spec_heading">Passenger</h4>
          <h2 class="spec_description">5 Adults</h2>
        </div>
        <div class="cargo">
          <h4 class="spec_heading">Cargo</h4>
          <h2 class="spec_description">15 cu ft</h2>
        </div>
        <div class="display">
          <h4 class="spec_heading">Display</h4>
          <h2 class="spec_description">1 Digital Display</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<% include partial/footer %>
