<% include partial/header %>
<div class="container-fluid">
  <!-- <div class="main">
    <div class="main__image__modelx">
        <video id="myVideo" src="https://www.tesla.com/ns_videos/modelx/hero/hero.mp4" autoplay poster="posterimage.jpg">
        Sorry, your browser doesn't support embedded videos,
        but don't worry, you can <a href="videofile.webm">download it</a>
        and watch it with your favorite video player!
        </video>
    </div>
  </div> -->
  <div class="modelS_safety_container">
    <div class="row">
      <div class="modelX_left_container col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="">

        </div>
      </div>
      <div class="modelS_right_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="model_right_sub_container">
          <div class="">
            <h6 class="modelS_safety_title">Safety</h6>
            <h1 class="modelS_safety_sub_title">The Safest SUV</h1>
            <p class="modelS_safety_description">Model X is the safest SUV ever. Built from the ground up as an electric vehicle, the body, chassis, restraints and battery technology provide the lowest probability of occupant injury.</p>
          </div>
          <div class="modelS_safety_rating">
            <h3>5 Star Overall Rating</h3>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>Front</h4>
              </div>
              <div class="modelS_safety_stars">
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>Side (MDB)</h4>
              </div>
              <div class="modelS_safety_stars">
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>Side Pole</h4>
              </div>

              <div class="modelS_safety_stars">
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>Driver</h4>
              </div>

              <div class="modelS_safety_stars">
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>Side (Overall)</h4>
              </div>
              <div class="modelS_safety_stars">
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
                <span class="oi oi-star"></span>
              </div>
            </div>
          </div>
          <div class="modelS_safety_learn_more">
            <button class="modelS_safety_button" type="button" name="button">LEARN MORE</button>
            <button class="modelS_safety_button" type="button" name="button">ORDER NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  PERFORMACE COMPONENT-->
  <div class="modelS_performance_container">
      <div class="modelX_range_top_container">
        <div class="modelX_utility_top_specs">
          <div class="modelS_performance_top_specs_descriptions">
            <h2 class="modelX_top_cotainer_text">AWD</h2>
            <p class="modelX_top_container_description">Dual Motor All-Wheel Drive instantly controls traction and torque, in all weather conditions</p>
          </div>
          <div class="modelS_performance_top_specs_descriptions">
            <h2 class="modelX_top_cotainer_text">2.5 s</h2>
            <p class="modelX_top_container_description">The quickest acceleration on earth - from zero to 60 mph in as little as 2.5 seconds</p>
          </div>
          <div class="modelS_performance_top_specs_descriptions">
            <h2 class="modelX_top_cotainer_text">
              <span class="oi oi-star"></span>
              <span class="oi oi-star"></span>
              <span class="oi oi-star"></span>
              <span class="oi oi-star"></span>
              <span class="oi oi-star"></span>
            </h2>
            <p class="modelX_top_container_description">The highest safety ratings ever, with the lowest probability of occupant injury</p>
          </div>
        </div>
      </div>
      <div class="modelS_performance_bottom_container">
        <div class="modelS_performance_bottom_specs">
          <h4 class="modelS_performance_title">Utility</h4>
          <h1 class="modelS_performance_sub_title">Room for Everything</h1>
          <p class="modelS_performance_description">Model X has the most storage room of any SUV in its class, comfortable seating for up to seven
             adults and the capability to tow up to 5,000 pounds. Falcon Wing doors are equipped with sensors to monitor the proximity of surroundings, and can open in even the tightest parking spaces.
          </p>
            <button class="learn_button" type="button" name="button">LEARN MORE</button>
            <button class="learn_button" type="button" name="button">ORDER NOW</button>
        </div>
      </div>
  </div>

<!--  RANGE COMPONENT -->
  <div class="modelS_range_container">
    <div class="row">
      <div class="modelX_range_left_container col-xl-8 col-lg-8 col-md-8 col-sm-12">
        <div class="modelS_range_left_specs">
          <div class="modelS_range_top_specs">
            <div class="modelS_performance_top_specs_descriptions">
              <h2 class="modelS_top_cotainer_text">335 mi</h2>
              <p class="modelS_top_container_description">The longest electric range of any car on the road - up to 335 miles</p>
            </div>
            <div class="modelS_performance_top_specs_descriptions">
              <h2 class="modelS_top_cotainer_text">30 min</h2>
              <p class="modelS_top_container_description">Recharge 170 miles in 30 minutes at any Supercharger location</p>
            </div>
            <div class="modelS_performance_top_specs_descriptions">
              <h2 class="modelS_top_cotainer_text">
                8000
                <span class="oi oi-plus"></span>
              </h2>
              <p class="modelS_top_container_description">Superchargers placed along well-traveled routes around the world</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modelS_right_container col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="model_right_sub_container">
          <div class="">
            <h6 class="modelS_safety_title">Range</h6>
            <h1 class="modelS_safety_sub_title">Go Anywhere</h1>
            <p class="modelS_safety_description">
              Model X can get you anywhere you want to go—with industry-leading range and convenient charging options, all over the world.
            </p>
          </div>
          <div class="modelS_safety_rating">
            <h1 class="modelS_safety_sub_title">Model S Range Specs</h1>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>P100D</h4>
              </div>
              <div class="modelS_safety_stars">
                <h5>315 miles</h5>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>100D</h4>
              </div>
              <div class="modelS_safety_stars">
                <h5>335 miles</h5>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>75D</h4>
              </div>

              <div class="modelS_safety_stars">
                <h5>259 miles</h5>
              </div>
            </div>
          </div>
          <div class="modelS_safety_rating">
            <h1 class="modelS_safety_sub_title">Model S Acceleration Specs</h1>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>P100D</h4>
              </div>
              <div class="modelS_safety_stars">
                <h5>2.5 seconds 0-60 mph</h5>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>100D</h4>
              </div>
              <div class="modelS_safety_stars">
                <h5>4.1 seconds 0-60 mph</h5>
              </div>
            </div>
            <div class="modelS_safety_rating_sub_containers">
              <div class="modelS_safety_stars_title">
                <h4>75D</h4>
              </div>

              <div class="modelS_safety_stars">
                <h5>4.2 seconds 0-60 mph</h5>
              </div>
            </div>
          </div>
          <div class="modelS_safety_learn_more">
            <button class="modelS_safety_button" type="button" name="button">LEARN MORE</button>
            <button class="modelS_safety_button" type="button" name="button">ORDER NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modelS_interior_container">
    <div class="modelX_interior_top_container ">
      <div class="modelS_performance_top_specs">
        <div class="modelS_performance_top_specs_descriptions">
          <h2 class="modelS_top_cotainer_text">17 inch</h2>
          <p class="modelS_top_container_description">An expansive touchscreen display designed to improve over time</p>
        </div>
        <div class="modelS_performance_top_specs_descriptions">
          <h2 class="modelS_top_cotainer_text">
            <span class="oi oi-rss-alt"></span>
          </h2>
          <p class="modelS_top_container_description">Over-the air software updates introduce new features, functionality and performance</p>
        </div>
        <div class="modelS_performance_top_specs_descriptions">
          <h2 class="modelS_top_cotainer_text">
            30 cu ft
          </h2>
          <p class="modelS_top_container_description">Best in class storage with more cargo room than most SUVs</p>
        </div>
      </div>
    </div>
    <div class="modelS_performance_bottom_container">
      <div class="modelS_performance_bottom_specs">
        <h4 class="modelS_performance_title">Interior</h4>
        <h1 class="modelS_performance_sub_title">Built Around the Driver</h1>
        <p class="modelS_performance_description">Model X is built to provide the most convenient interior experience ever—with best in class storage, seating for up to seven adults and an expansive 17-inch touchscreen. A seven-seat configuration
          option comes standard with fold-flat seats for maximum cargo space.
        </p>
          <button class="learn_button" type="button" name="button">LEARN MORE</button>
          <button class="learn_button" type="button" name="button">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="modelS_exterior_container">
    <div class="modelS_exterior_top_container">
      <div class="modelS_performance_top_specs">
        <div class="modelS_performance_top_specs_descriptions">
          <h2 class="modelS_top_cotainer_text">7 Signature Colors</h2>
          <p class="modelS_top_container_description">Customize Model S with signature, multi-layered paint</p>
        </div>
        <div class="modelS_performance_top_specs_descriptions">
          <h2 class="modelS_top_cotainer_text">0.23 Drag Coeffient</h2>
          <p class="modelS_top_container_description">The most aerodynamic car in its class with the lowest drag coeffient on earth</p>
        </div>
        <div class="modelS_performance_top_specs_descriptions">
          <h2 class="modelS_top_cotainer_text">
          Glass Roof
          </h2>
          <p class="modelS_top_container_description">A standard, expansive Glass Roof provides more headroom and UV protection</p>
        </div>
      </div>
    </div>
    <div class="modelS_performance_bottom_container">
      <div class="modelS_performance_bottom_specs">
        <h4 class="modelS_performance_title">Exterior</h4>
        <h1 class="modelS_performance_sub_title">Design for Efficiency</h1>
        <p class="modelS_performance_description">Model X is built for efficiency—with an uncompromised design, allowing for industry-leading range, performance and utility. A spoiler provides incredible aerodynamics and the lowest drag coefficient of any vehicle in its class.
        </p>
          <button class="learn_button" type="button" name="button">LEARN MORE</button>
          <button class="learn_button" type="button" name="button">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="modelS_specs_container">

  </div>
</div>
<% include partial/footer %>
