<% include partial/header %>
<div class="container-fluid">
  <div class="main">
    <div class="main__image__modelx">
        <video id="myVideo" src="https://www.tesla.com/ns_videos/modelx/hero/hero.mp4" autoplay poster="posterimage.jpg">
        Sorry, your browser doesn't support embedded videos,
        but don't worry, you can <a href="videofile.webm">download it</a>
        and watch it with your favorite video player!
        </video>
    </div>
  </div>
  <div class="information">
    <section class="information__intro">
      <div class="information__container">
        <h1 class="section--title">Model X</h1>
        <p class="section--description">
          Designed to attain the highest safety ratings in every category, Model 3 achieves 220 miles of range while
          starting at only $35,000 before incentives.
        </p>
        <div class="btn__group">
          <a href="#" class="btn--primary">RESERVE YOURS</a>
          <a href="#" class="btn--secondary">GET NEWSLETTER</a>
        </div>
      </div>
    </section>
  </div>
</div>
