<% include partial/header %>
<div class="container-fluid">
  <div class="main">
    <div class="main__image__roadster">
      <div class="roadster__text__container">
        <div class="header--text">
          <h3 class="roadster--title">Tesla</h3>
          <h1 class="roadster--name">Roadster</h1>
        </div>
        <div class="footer--text">
          <div class="roadster--top--container">
            <p class="roadster--top--description">​The quickest car in the world, with record-setting acceleration, range and performance.</p>
          </div>
          <div class="roadster--bottom--container">
            <div class="footer--description">
              <h1 class="footer--title">1.9<strong class="strong--text">s</strong></h1>
              <p class="footer--details">0-60 mph</p>
            </div>
            <div class="footer--description">
              <h1 class="footer--title">+250<strong class="strong--text">mph</strong></h1>
              <p class="footer--details">Top Speed</p>
            </div>
            <div class="footer--description">
              <h1 class="footer--title">620<strong class="strong--text">mi</strong></h1>
              <p class="footer--details">Mile Range</p>
            </div>
            <div class="footer--description">
              <div class="footer--reserve">
              <h1 class="footer--reserve--description"><a href="#">Reserve now</a></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="roadsterspecs">
    <section class="video__container">
      <div class="videos">
        <video id="roadster_video" src="https://www.tesla.com/ns_videos/roadster_videos/roadster-loop-imperial.mp4?20180329" width="1150px" height="325px" autoplay poster="posterimage.jpg">
        Sorry, your browser doesn't support embedded videos,
        but don't worry, you can <a href="videofile.webm">download it</a>
        and watch it with your favorite video player!
        </video>
      </div>
      <div class="video--specs">
        <div class="video--specs--title">
          <h1 class="tesla_roadster_title">Tesla Roadster Specs</h1>
        </div>
        <ul >
          <li>
            <div class="video--specs--info">
              <div class="video--specs--text">
                Acceleration 0-60 mph
              </div>
              <div class="video--specs--value">
                1.9 sec
              </div>
            </div>
          </li>
          <li>
            <div class="video--specs--info">
              <div class="video--specs--text">
                Top Speed
              </div>
              <div class="video--specs--value">
                Over 250 mph
              </div>
            </div>
          </li>
          <li>
            <div class="video--specs--info">
              <div class="video--specs--text">
                Mile Range
              </div>
              <div class="video--specs--value">
                620 miles
              </div>
            </div>
          </li>
          <li>
            <div class="video--specs--info">
              <div class="video--specs--text">
                Seating
              </div>
              <div class="video--specs--value">
                4 people
              </div>
            </div>
          </li>
          <li>
            <div class="video--specs--info">
              <div class="video--specs--text">
                Drive
              </div>
              <div class="video--specs--value">
                All Wheels
              </div>
            </div>
          </li>
          <li>
            <div class="video--specs--info">
              <div class="video--specs--text">
                Base Price
              </div>
              <div class="video--specs--value">
                $200,000
              </div>
            </div>
          </li>
          <li>
            <div class="video--specs--info">
              <div class="video--specs--text">
                Base Reservation
              </div>
              <div class="video--specs--value">
                $50,000
              </div>
            </div>
          </li>
          <li>
            <div class="video--specs--info">
              <div class="video--specs--text">
                Founders Series Price
              </div>
              <div class="video--specs--value">
                $250,000
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <div class="roadster__aero">
    <div class="roadster--aero--container">
      <h1 class="roadster--aero--title" >Designed for Performance and Aero Efficiency</h1>
      <p class="roadster--aero--description">As an all-electric supercar, Roadster maximizes the potential of aerodynamic engineering-with record-setting performance and effiency.</p>
    </div>
  </div>
  <div class="roadster__interior">
    <div class="roadster--interior--container">
    </div>
    <div class="roadster--interior--container--bottom">
      <h1 class="roadster--interior--title" >Designed for Performance and Aero Efficiency</h1>
      <p class="roadster--interior--description">As an all-electric supercar, Roadster maximizes the potential of aerodynamic engineering-with record-setting performance and effiency.</p>
    </div>
  </div>
  </div>
  <div class="roadster__roof">
    <div class="roadster--roof--container">
      <h3 class="roadster--roof--title">Glass Roof</h3>
      <p class="roadster--roof--description">A lightweight, removable Glass Roof stores in the trunk for open-air, convertable driving experience</p>
    </div>
  </div>
</div>
<% include partial/footer %>
